{% extends "post/class_base.html" %}
{% load static %}


{% block title %}
  Reza's Blog - category
{% endblock title %}


{% block content %} 
  {% for post in posts %}
    <div class="postbody">
    <a href="/blog/post-detail/{{post.slug}}"><h1>{{post.title}}</h1></a>
    <div class="publish_info">Post Date: {{post.created_at}} ··· Categories: <a href="#">{% for category_ in post.category.all %}{{category_.title}}--{% endfor %}</a></div>
    <div class="comment"><a href="#">Comments ({{post.comment_set.count}})</a></div>
    </div>
  {% endfor %}
{% endblock content %}