{% extends "class_base.html" %}
{% load static %}

{% block title %}
    Reza's Blog - post detail
{% endblock title %}

{% block content %}
    <div class="postbody">
        <h1>{{post.title}}</h1>
        <div class="publish_info">Post Date: {{post.created_at}} ··· Categories: <a href="#">{% for category_ in post.category.all %}{{category_.title}}{% endfor %}</a></div>
        <p><img src='{{post.image}}'/></p>
        <br>
    </div>
    <hr>
    <hr>
    <div class="comment">
        <h2>Comments:</h2>
        {% for comment in comments %}
            <h1>{{comment.title}}</h1>
            <div class="publish_info">Post Date: {{comment.created_at}}</div>
            <p>{{comment.content}}</p>
            <br>
        {% endfor %}
    </div>
{% endblock content %}
